<main
  class="relative overflow-hidden  bg-cover bg-no-repeat p-12 text-center"
  style="background-image: url('/assets/bike2.jpg'); height: 100%"
>
  <div class="flex h-full items-center justify-center">
    <div class="text-gray-500">
      <h2 class="mb-4 text-6xl font-semibold">BUY & SELL BIKES</h2>
      <h4 class="mb-6 text-3xl font-semibold">
        Buy the best type of bike for you!
      </h4>
      <button
        routerLink="/catalog"
        type="button"
        class="rounded border-2 border-gray-500 px-7 pb-[8px] pt-[10px] text-3xl font-medium uppercase leading-normal text-gray-400 transition duration-150 ease-in-out hover:border-gray-500 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-gray-500 focus:border-gray-500 focus:text-gray-500 focus:outline-none focus:ring-0 active:border-gray-500 active:text-gray-500 dark:hover:bg-gray-500 dark:hover:bg-opacity-10"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        BUY
      </button>
    </div>
  </div>
</main>


